<div class="wrapper-page" >
  <div class="wrap-2-col">
    <div class="sidebar fn-sidebar-fixed">
      <ul class="data-list">
        <li class="active">
          <h3><a>Categories</a></h3>
        </li>
      </ul>
      <div class="fn-scrollbar mCustomScrollbar _mCS_1 mCS-autoHide">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_outside" tabindex="0">
          <div id="mCSB_1_container" class="mCSB_container" >
            <ul class="data-list">
              <% @category.each do |category| %>
                <li class="">
                  <%= link_to category.name, "#"+"#{category.name}" %>       
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% @category.each do |type| %>
      <div class="zcontent">
        <h2 class="title-section" id="<%= type.name %>">
          <%= link_to "#{type.name}" %>
        </h2>
        <div class="tab-pane">
          <div class="row">
            <% Song.all.each do |song| %>
              <% if song.category == type %>
                <div class="pone-of-four">
                  <div class="item">
                    <%= link_to song_path(song) do %>
                      <% if song.artist.avatar? %>
                        <%= image_tag song.artist.avatar.url %>
                      <% else %>
                        <%= image_tag "http://zmp3-photo.d.za.zdn.vn/skins/zmp3-v4/images/default2/220x220.jpg" %>
                      <% end %>
                    <%end%>
                      <span class="icon-circle-play otr"></span>
                    </a>
                  </div>
                  <div class="description">
                    <h4 class="title-item ellipsis">
                      <%= link_to song.name, song_path(song) %>
                    </h4>
                    <div class="inblock ellipsis">
                      <%= link_to song.artist.name, artist_path(song.artist) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
